@function Px($px) {
  @return $px / 750 * 10rem;
}
// 边框倒角大小
$radiusSize: Px(12);

// 字体大小
$baseSize:Px(30);
$bigerSize:Px(33);//0.48
$bigestSize:Px(36);
$smallSize:Px(27);
// 基本字体色彩
$grayText: #999;
$whiteText: #FFF;
$blackText: #333;
// 边框色彩
$whiteBd:#F1F1F1;
$blackBd:#272D30;
// 其他色
$warning:#FF8700;
$primary:#2E90E5;
$error: #EA3E34;
$success: #16700D;
// 分隔线的色彩
$blackDivision:#1B1F21;
$whiteDivision:#F5F5F5;
// 黑白主题背景
$blackBg:#202528;
$whiteBg:#FFF;

